body {
  margin: 0;
  padding: 0;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  background-color: rgb(62, 62, 62);
}

#gameboard {
  height: 300px;
  width: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px rgb(18, 18, 18);
  border-radius: 5px;
}

.square {
  height: 100px;
  width: 100px;
  background-color: rgb(45, 45, 45);
  border: solid 3px rgb(18, 18, 18);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid rgb(213, 116, 12);
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 129, 155);
}

.cross::before {
  left: 50%;
  width: 30%;
  height: 100%;
  margin-left: -15%;
}

.cross::after {
  top: 50%;
  height: 30%;
  width: 100%;
  margin-top: -15%;
}

#info {
  font-size: 2em;
  font-weight: bold;
  color: rgb(168, 168, 168);
}
